<h1>个人信息</h1>
<table class="table table-hover">
	<tr>
		<th>用户邮箱</th>
		<td><%= current_user.email %></td>
	</tr>
	<tr>
		<th>用户域名</th>
		<td><%= "#{subdomain(current_user.login)}.#{request.domain}" if request.domain %></td>
	</tr>
	<tr>
		<th>用户端口</th>
		<td><%= current_user.binds.where(end_at => nil).first.port.number %></td>
	</tr>
	<tr>
		<th>当月剩余流量</th>
		<td><%= current_user.allowed_statistics - current_user.statistics.map(&:size).inject(&:+)%></td>
	</tr>
</table>
