# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/schema.rb
/config/mongoid.yml
/config/mail.yml

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/Gemfile.lock
/doc
/public/system
/public/uploads
.gemtags
.tags
config/settings.local.rb
Gemfile.lock
allow/
pcaps/
