# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f48ecd8cb3660d0fe6620e4e6d17fe884086a261602e63d87566a0150722f38c3273d024b5b49386c6cd55076fb3accc82cff6fc5b73d05aeeab1957386d2b3a

test:
  secret_key_base: c9272ffef1607866699779764b47d0a3505382839e1399de5150f16a6dcf06b760c557f8d99ba6c88ae99b23129efdecc8a83b4640bbec9199a218adca0e33ac

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
