@import "bootstrap/variables";
@import "bootstrap/mixins";

.bd-navbar {
  margin-bottom: 2rem;

  @include media-breakpoint-down(xs) {
    .navbar-brand {
      float: none;
    }

    .nav-item {
      float: none;

      + .nav-item {
        margin-left: 0;
      }
    }
  }

}

.table {
  td pre {
    margin-bottom: 0;
  }
}

.table-action, .form-actions {
  border: 0.0625rem solid $table-border-color;
  border-left: none;
  border-right: none;

  background-color: $gray-lightest;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-group.boolean {
  .checkbox label {
    input {
      margin-right: 0.3rem;
    }
  }
}


.morris-hover {
	position:absolute;
	z-index:1000;
}

.morris-hover.morris-default-style {
	border-radius: 10px;
	padding: 6px;
	color: #666;
	background: rgba(255, 255, 255, 0.8);
	border: solid 2px rgba(230, 230, 230, 0.8);
	font-family: sans-serif;
	font-size: 12px;
	text-align:center;
}

.morris-hover.morris-default-style .morris-hover-row-label{
	font-weight: bold;
	margin: 0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point{
	white-space: nowrap;
	margin: 0.1em 0;
}
