<p>您好 <%= @resource.email %>!</p>

<p>有人请求重置您的密码. 您可以通过下方的链接进行密码重置.</p>

token<%= @resource.reset_password_token %>
<p><%= link_to '重置密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果非本人操作, 请忽略本邮件.</p>
<p>您的密码将不会被修改.</p>
